{% extends 'base.html' %}
{% block body %}
<!-- <p>Logging in as: {{ user.get_username }}</p> -->
<div class="grid grid-cols-3 gap-4 mb-4">
    {% for i in ip_addr %}
    <div class="max-w-sm w-full bg-white rounded-lg shadow dark:bg-gray-800 p-4 md:p-6">
        <div class="flex justify-between">
        <div>
            <h5 class="leading-none text-3xl font-bold text-gray-900 dark:text-white pb-2">{{ i }}</h5>
            <p class="text-base font-normal text-gray-500 dark:text-gray-400">User Tracked</p>
        </div>
        
        </div>
        <!-- <div id="area-chart"></div> -->
        <div class="grid grid-cols-1 items-center border-gray-200 border-t dark:border-gray-700 justify-between">
        <div class="flex justify-between items-center pt-5">
            <!-- Button -->
            
            <a
            href="#"
            class="uppercase text-sm font-semibold inline-flex items-center rounded-lg text-blue-600 hover:text-blue-700 dark:hover:text-blue-500  hover:bg-gray-100 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700 px-3 py-2">
            Users Report
            <svg class="w-2.5 h-2.5 ms-1.5 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
            </svg>
            </a>
        </div>
        </div>
    </div>
    {% endfor %}
    
  
</div>
    

{% endblock %}