{% extends 'base.html' %}
{% block body %}
{% load custom_filters %}
<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                {% for key in keys %}
                <th scope="col" class="px-6 py-3">
                    {% if key == 'last_analysis_results' %}
                    {% else %}
                        {{key}}
                    {% endif %}
                </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for key_log in key_logs %}
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                {% for key in keys %}
                {% if key == 'last_analysis_results' %}
                {% else %}
                
                <td class="px-6 py-4">
                    {{ key_log|get_value:key }}
                </td>
                {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
            
        </tbody>
    </table>
</div>

{% endblock %}